# --- RunConfig ---
APP_CONFIG__RUN__HOST=0.0.0.0
APP_CONFIG__RUN__PORT=8010

# --- DatabaseConfig ---
APP_CONFIG__DB__URL=postgresql+asyncpg://user:password@pg:5432/indicator
APP_CONFIG__DB__ECHO=False
APP_CONFIG__DB__ECHO_POOL=False
APP_CONFIG__DB__POOL_SIZE=5
APP_CONFIG__DB__MAX_OVERFLOW=10

# --- AuthConfig ---
APP_CONFIG__AUTH__SECRET_KEY=change_me_to_long_random
APP_CONFIG__AUTH__ALGORITHM=HS256
APP_CONFIG__AUTH__ACCESS_EXPIRE_MINUTES=60
APP_CONFIG__AUTH__REFRESH_EXPIRE_DAYS=7

# --- RedisConfig ---
REDIS_URL=redis://redis:6379/0

CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# --- MLConfig ---
ML_MODEL_PATH=/app/ml/models
ML_BATCH_SIZE=1
ML_DEVICE=cpu
ML_SERVICE_URL=http://ml_service:8501
